{% extends 'base.html' %}

{% block content %}

    <div class="card mb-4" style="max-width: 1200px; margin: 0 auto;">
        <div class="card-header p-3">
            <img src="{{ post.author.avatar.url }}"
                     class="rounded-circle profile-avatar-small"
                     alt="avatar">
            <span class="fs-5 fw-Semibold px-3">
                {{ post.author.username }}
            </span>
        </div>
            <div style="height: 600px; overflow: hidden;">
                <img src="{{ post.image.url }}" class="w-100 h-100" alt="img" style="object-fit: cover;">
            </div>
            <div class="card-body">
                <a href="#"><i class="bi bi-heart" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                <p>{{ post.likes.count }} отметок нравиться</p>
                <p class="card-title font-monospace mb-0"><span class="fs-5 fw-Semibold">
                                                        {{ post.author.username }}
                                                    </span> {{ post.description }}</p>
                <p class="text-body-secondary fs-6">Дата публикации {{ post.created_at| date:'Y-m-d' }}</p>
            </div>
            <div class="card-body" style="position: relative;">
                <form action="{% url 'insta:comment' post.pk %}?next={{ request.get_full_path }}" method="POST">
                    {% csrf_token %}
                    {{ comments_form }}
                    <button type="submit" style="position: absolute; right: 30px; top: 45%; transform: translateY(-50%);" class="btn btn-link text-decoration-none">
                        Send
                    </button>
                </form>
            </div>
    </div>


    <div class="comments mx-auto" style="max-width: 1200px;">
        {% for comment in comments %}
                <div class="card mb-2">
                    <div class="card-body">
                        <p class="text-secondary mb-2">{{ comment.author.username }}
                            <span class="px-3" style="font-size: 0.8rem">{{ comment.created_at|date:'Y-m-d' }}</span>
                        </p>
                        <p class="mx-4 mb-0">{{ comment.text }}</p>
                    </div>
                </div>
        {% endfor %}
    </div>



{% endblock %}